@(order: models.Order)(implicit request: RequestHeader, l: Lang=Lang("en"))

@import play.api.i18n._
@import views.html.helper._
@import helpers._

@input(field: Field, label: String, fieldType: Symbol = 'text) = {
  
  <div class="control-group @if(field.hasErrors) {error}">
    <label class="control-label" for="@field.id">@label</label>
    <div class="controls">
      <input  type="@fieldType.name" value="@field.value" id="@field.id"  name="@field.name" />
     
      @if(field.hasErrors){
        <span class="help-inline">
          @Messages(field.error.head.message)
        </span>
      }
      
    </div>
  </div>  
}

@cpanel("Order Process", null) {

  <br>
  <h5>@{"Order Ref"} :@order.id</h5>
 
  <hr>
  <div id="mainDiv">
  <h4>@{Messages("order.cust.detail.lbl")}</h4>
  <br/>
  <div>Order Status : 
  <select id="chgStatus" name="chgStatus">
	          @for(a <- OrderState.values) {
		  		  @if(a == order.state){
	                <option value="@a" selected="selected">@a</option>
	              }else{
		  		    <option value="@a">@a</option>
		  		  }
		  	  }
	          </select>
	          
	          <a class="btn btn-success" id="btnChgStatus">
	  	<i class="icon-plus icon-white"></i>
	  	@{"Update Order Status"}
	  </a>
	          
  </div>
  <div style="float : left" id="messageDiv"></div>
  <input type="hidden" name="orderId" id="orderId" value="@order.id">
  <strong> @{Messages("common.name")}    : </strong>@order.shipAddresses.get.firstName @order.shipAddresses.get.lastName <br/>
  <strong> @{Messages("common.shipping.adr")} :</strong> @order.shipAddresses.get.addLine1, @order.shipAddresses.get.addLine2, 
	  					 @order.shipAddresses.get.city, @order.shipAddresses.get.postCode, 
	  					 @order.shipAddresses.get.country
  <br/>
  <strong> @{Messages("common.billing.adr")} : </strong> @order.billAddresses.get.addLine1, @order.billAddresses.get.addLine2,
	  					 @order.billAddresses.get.city, @order.billAddresses.get.postCode,
	  					 @order.billAddresses.get.country 
	</div>  					 
  <hr>			 
  <h4>@{Messages("common.cart.details")}:</h4>
  <br>
	<div class="row-fluid">
  		<div class="span1"><span class="label">@{Messages("cart.item.lbl")}</span></div>
      	<div class="span3"></div>
     	<div class="span2"><span class="label">@{Messages("cart.quantity.lbl")}</span></div>    
      	<div class="span1"><span class="label">@{Messages("cart.price.lbl")}</span></div>
      	<div class="span1"><span class="label">@{Messages("cart.totaltax.lbl")}</span></div>
      	<div class="span1"><span class="label">@{Messages("cart.total.lbl")}</span></div>      	
    </div>

	@order.lineItems.map { lineItem =>  
	<div class="row-fluid">
		<div class="span1"><img src="/images/getimage?imageName=@lineItem.image&width=83&height=111" /></div>
		<div class="span3"><strong>@lineItem.title</strong><br/></div>
		<div class="span2">@lineItem.qty</div>
	    <div class="span1">@CurrencyConvertor.getSymbol(request) @CurrencyConvertor.getRate(request,lineItem.price)</div>
	    <div class="span1">@CurrencyConvertor.getSymbol(request) @CurrencyConvertor.getRate(request,lineItem.tax)</div>
	    <div class="span1">@CurrencyConvertor.getSymbol(request) @CurrencyConvertor.getRate(request,((lineItem.price*lineItem.qty)+lineItem.tax))</div>  
	</div>
}

	<div class="row-fluid">		
		<div class="span8" style="text-align: right">
	
			<h5>@{Messages("common.sales.tax")} : @CurrencyConvertor.getSymbol(request) @CurrencyConvertor.getRate(request,order.productTax)</h5>
			<h5>@{Messages("common.shippingHandling.fee")} : @CurrencyConvertor.getSymbol(request) @CurrencyConvertor.getRate(request,order.shipFee)</h5>
			<h5>@{Messages("common.shipping.tax")} : @CurrencyConvertor.getSymbol(request) @CurrencyConvertor.getRate(request,order.shipTax)</h5>
			<br>
			<h4>@{Messages("common.grand.total")} : @CurrencyConvertor.getSymbol(request) @CurrencyConvertor.getRate(request,(order.subTotal + order.shipFee + order.shipTax + order.productTax))</h4>
		</div>
	</div>
	 
	<script type="text/javascript" charset="utf-8">
	
	      var changeOrderStatus = function() {
		       var status = $('#chgStatus').val();
		       var orderId = $('#orderId').val();
			     jsRoutes.controllers.backoffice.OrderProcess.changeStatus(status, orderId).ajax({
			       success: function(data) {
			       	var stateshere = data;
			       	
			       	alert("success updated");
			       	$("messageDiv").html(data);	
			       },
			       error: function() {
			         alert("Error!")
			       }
			     })
			   };
			   
			   
			   var changeColor = function() {
			   		var status = $('#chgStatus').val();
			   		switch(status) {
					    case "cart":
					        chnageMainDivColor("ECF7B3")
					        break;
					    case "order":
					        chnageMainDivColor("D1F7B3")
					        break;
				        case "process":
				        	chnageMainDivColor("B3E4F7")
				        	break;
				        case "shipped":
				        	chnageMainDivColor("FFD2FF")
				        	break;
				        case "closed":
				        	chnageMainDivColor("92FF90")
				        	break;
					    default:
					        chnageMainDivColor("FFFFFF")
					}
			   		 
			   };
			   
			   function chnageMainDivColor(code){
			   		$('#mainDiv').css('backgroundColor', '#'+code);
			   }
			  
			   $('#btnChgStatus').click(changeOrderStatus);
			   $('#mainDiv').ready(changeColor);
	
	</script>
	
}