@(message: String)(implicit request: RequestHeader, flash:Flash, l: Lang=Lang("en"))

@import play.api.i18n._
@import views.html.helper._

@cpanel(message, null) {
	
	@if(flash.data.contains("message")){	
		<div class="alert alert-success">@flash.get("message")</div>
	} 	
 	@if(flash.data.contains("errormessage")){ 	
    	<div class="alert alert-error">@flash.get("errormessage")</div>
	}
	
	@form(action = controllers.backoffice.routes.ProductUpload.upload, 'enctype -> "multipart/form-data") {
	  <input type="file" name="fileupload">
	  <p>
	      <input type="submit" value="Upload CSV" class="btn btn-primary">
	  </p>
	}
	
	@form(action = controllers.backoffice.routes.ProductUpload.uploadimage, 'enctype -> "multipart/form-data") {
	  <input type="file" name="imageupload" multiple="">
	  <p>
	      <input type="submit" value="Upload Images" class="btn btn-primary">
	  </p>
	}
}